<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<!-- START_HIGHLIGHT -->
<body class='<%= controller.controller_name %>'>
<!-- END_HIGHLIGHT -->
	<div id="banner">
		<%= image_tag("logo.png") %>
		<%= @page_title || "Pragmatic Bookshelf" %>
	</div>
	<div id="columns">
		<div id="side">
			<ul>
				<li><%= link_to("Home") %> </li>
				<li><%= link_to("Questions") %> </li>
				<li><%= link_to("News") %> </li>
				<li><%= link_to("Contact") %> </li>
			</ul>
			<div id="current_time">
				<%= Time.now %>
			</div>
		</div>
	</div>
	<div id="main">
		<%= yield %>
	</div>

</body>
</html>
